/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}
:root .theme_light {
  --main-font: "IBM Plex mono", monospace;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --main-title-color: #ffc2e6;
  --background-image: url("../images/cover-image-light.png");
  --additional-color: #353430;
  --background-color: #fff1f7;
  --title-color: #353430;
}

.theme_light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-font: "IBM Plex mono", monospace;
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --main-title-color: #ffc2e6;
    --background-image: url("../images/cover-image-light.png");
    --additional-color: #353430;
    --background-color: #fff1f7;
    --title-color: #353430;
  }
  
  .header__rec {
    display: none;
  }
}
